# VSCode
.vscode/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual env
env/
venv/
.venv/
*.env

# Model files
*.keras
*.h5
*.pkl
*.pt
*.onnx

# Zip and large archives
*.zip

# Logs
*.log
